//
// Imports
//

@import "shipping-settings";
@import "shipping-utils";

//
// Components
//

// Panel

.shipping-panel {
  @extend %shipping-panel;
  margin-bottom: $shipping-gutter;
}

// Input group

.shipping-input-group {
  @include shipping-columns(30%, 70%);
  margin-bottom: $shipping-gutter/2;

  &:last-child{
  }

  label {
    @extend %shipping-font-3;
    text-align: right;
    padding-right: $shipping-gutter;
  }

  #{$shipping-text-input-selector},
  select {
    @extend %shipping-font-5;
    padding: $shipping-gutter/2 $shipping-gutter;
    border: none 0;
    transition: box-shadow .5s;
  }

  #{$shipping-text-input-selector}{
    box-shadow: $shipping-text-input-box-shadow;
    border: $shipping-text-input-border;

    &:focus {
      outline: none;
      box-shadow: $shipping-text-input-focus-box-shadow;
    }
  }

  select {
    box-shadow: $shipping-select-box-shadow;
    border: $shipping-select-border;

    &:focus {
      outline: none;
      box-shadow: $shipping-select-focus-box-shadow;
    }
  }
}

.shipping-tick-right {
  @extend %shipping-tick-right;
}

// Option list

.shipping-option-list {

  &, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    @extend %shipping-tick-right;
    width: 30%;

    @media #{$shipping-media-small} {
      width: 100%;
    }
  }

  label {
    @extend %shipping-font-3;
    padding-right: $shipping-gutter;
  }
}

// Form description

.shipping-form-description {
  @extend %shipping-font-5;
  margin: 0 0 $shipping-gutter 0;
  h2 + & {
    margin-top: -$shipping-gutter;
  }
}

//
// Main container
//

.shipping {
  width: 100%;
  min-width: $shipping-min-width;
  max-width: $shipping-max-width;
  margin-left: auto;
  margin-right: auto;
  padding: $shipping-gutter/2;

  //
  // Reset tags
  //

  &, *, *:before, *:after {
    box-sizing: border-box;
  }

  h2, h3, h4, h5, h6 {
    margin: 0 0 $shipping-gutter 0;
    font-size: inherit;
    font-weight: inherit;
  }

  h2 {
    @extend %shipping-font-3;
    color: $shipping-font-color-primary;
  }

  p {
    @extend %shipping-font-base;
    margin: 0;
  }

  fieldset {
    border: none 0;
    padding: 0;
    margin: 0;
  }

  #{$shipping-button-selector}{
    @extend %shipping-button-primary;
  }

  // Main header

  > header {
    @extend %shipping-font-1;
    margin-bottom: $shipping-gutter*1.5;
  }

  // Fieldsets containing delivery options

  > fieldset {
    margin-bottom: $shipping-gutter*2;

    &:last-of-type {
      margin-bottom: $shipping-gutter;
    }

    > header {
      @extend %shipping-font-3;
      @include shipping-columns(43%, 17%, 40%);
      margin-bottom: $shipping-gutter / 4;

      > h3 {
        position: relative;
        padding-left: $shipping-first-column-width + $shipping-gutter;
        margin-bottom: 0;
        color: $shipping-font-color-primary;

        @media #{$shipping-media-small} {
          padding-left: $shipping-gutter;
          padding-right: $shipping-first-column-width + $shipping-gutter !important;
        }

        > img {
          @extend %shipping-panel;
          padding: 5px 10px 8px 10px;
          float: left;
          width: $shipping-first-column-width;
          margin-left: -$shipping-first-column-width - $shipping-gutter;

          @media #{$shipping-media-small} {
            float: right;
            margin-left: 0;
            margin-right: -$shipping-first-column-width - $shipping-gutter;
          }
        }

        > span {
          display: block;
          margin-bottom: 0;
          width: 100%;
        }
      }

      > .shipping-price,
      > .shipping-arrival {
        @media #{$shipping-media-small} {
          display: none;
        }
      }

      > .shipping-arrival {
        padding-left: $shipping-gutter;
      }

      > .shipping-price {
        text-align: right;
      }
    }

    > .shipping-group {
      margin-bottom: 3px;

      &:last-child {
        margin-bottom: 0;
      }

      > h4 {
        @extend %shipping-panel;
        @extend %shipping-font-4;
        @include shipping-first-column($add: $shipping-gutter);
        display: block;
        margin: 0;
        color: $shipping-color-theme;
        background-color: $shipping-color-subtle;

        @media #{$shipping-media-small} {
          padding-left: $shipping-gutter;
        }

        &:empty {
          display: none;
        }
      }

      > ul {
        @extend %shipping-panel;
        padding: $shipping-gutter;

        // Reset list styles
        margin: 0;
        list-style: none;

        //
        // Row
        //

        > li {
          @include shipping-columns(43%, 17%, 15%, 25%);
          margin: 0 0 $shipping-gutter 0;
          padding: 0 0 $shipping-gutter 0;
          border-bottom: solid 1px rgba($shipping-color-theme, .5);

          &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none 0;
          }

          //
          // Row columns
          //

          .shipping-option {
            .shipping-tick {
              @extend %shipping-tick-left;
              @include shipping-first-column;

              @media #{$shipping-media-small} {
                margin-bottom: $shipping-gutter/2;
              }
            }
          }

          .shipping-price,
          .shipping-arrival,
          .shipping-note {
            @extend %shipping-font-4;
            text-align: right;

            @media #{$shipping-media-small} {
              padding-left: $shipping-first-column-width-small;
              font-weight: normal;
              line-height: 1.25rem;
              text-align: left;
              color: $shipping-font-color-secondary;

              &:before {
                content: '\25CF';
                float: left;
                line-height: 1rem;
                margin-right: 5px;
                color: $shipping-color-theme;
              }
            }

            > span {
              position: absolute;
              width: 0;
              overflow: hidden;

              @media #{$shipping-media-small} {
                display: inline-block;
                position: static;
                width: auto;
                overflow: visible;
              }
            }
          }

          .shipping-price {}

          .shipping-arrival {
            padding-left: $shipping-gutter;
            text-align: left;
            @media #{$shipping-media-small} {
              padding-left: $shipping-first-column-width-small;
            }
          }

          .shipping-note {
            @media #{$shipping-media-small} {
              margin-bottom: $shipping-gutter/2;
            }
          }

          //
          // Info
          //

          .shipping-info {
            @include shipping-first-column();
            clear: both;

            > p {
              @extend %shipping-font-base;
              color: $shipping-font-color-secondary;
              margin-bottom: $shipping-gutter/4;

              @media #{$shipping-media-small} {
                margin-bottom: $shipping-gutter/2;
                line-height: 1.25rem;
                font-size: .85rem;
              }
            }


            > button {
              @extend %shipping-button;
            }

            .shipping-info-extended {
              @extend %shipping-font-base;
              clear: both;
              position: relative;
              top: $shipping-gutter;
              background-color: $shipping-color-subtle;
              margin-left: -$shipping-first-column-width - $shipping-gutter;
              margin-right: -$shipping-gutter;
              max-height: 0;
              overflow: hidden;
              transition: all .33s;

              @media #{$shipping-media-small} {
                margin-left: -$shipping-first-column-width-small - $shipping-gutter;
              }

              > p {
                padding: $shipping-gutter $shipping-gutter $shipping-gutter ($shipping-first-column-width + $shipping-gutter);

                @media #{$shipping-media-small} {
                  padding-left: $shipping-first-column-width-small + $shipping-gutter;
                }
              }
            }
          }

          //
          // States
          //

          &.shipping-state-info {
            .shipping-info {
              > button:after {
                content: '\25B4';
              }
            }
          }
        }
      }
    }
  }

  > footer {
    @extend %shipping-font-3;
    @include shipping-first-column($add: $shipping-gutter);

    @media #{$shipping-media-small} {
      padding-left: 0;
      text-align: center;
    }
  }
}
